html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

svg { 
    width: 100%;
    position: fixed;
}

.form {
    width: 70%;
}

.form .form-group {
    margin: 10px 0;
    z-index: 999;
}

.btn-section-group {
    display: flex;
    margin-bottom: 10px;
    width: 334px;
}

.btn-menu {
    background: white;
    cursor: pointer;
}

.btn-menu.active {
    background: rgb(169, 211, 248);
    color: white;
}

.btn-section-group .btn-menu:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    box-shadow: 0 0 10px #F2F2F2;
    padding: 20px;
    font-size: 0.8rem;
    z-index: 1000;
    flex: 1;
}

.btn-section-group .btn-menu:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;border: none;
    box-shadow: 0 0 10px #F2F2F2;
    padding: 20px;
    font-size: 0.8rem;
    flex: 1;
    z-index: 1000;
}

input {
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 10px #F2F2F2;
    padding: 20px 40px;
    font-size: 1.2rem;
    background: white;
    z-index: 1000;
}

input:focus {
    outline: none;
}

button#btn-submit {
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 20px 40px; 
    margin: 20px 0;
}

button#btn-submit:hover {
    cursor: pointer;
    background: #F2F2F2;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 10px;
}

.section form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#short-link-result {
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 100%;
}

.wave {
    animation: wave 8s linear infinite;
}

.wave1 {
    animation: wave1 10s linear infinite;
}

.wave2 {
    animation: wave2 12s linear infinite;
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes wave1 {
    0% {
        transform: scaleY(1.2) translateX(0%);
    }

    100% {
        transform: scaleY(1.2) translateX(100%);
    }
}

@keyframes wave2 {
    0% {
        transform: scaleY(.8) translateX(0%);
    }

    100% {
        transform: scaleY(.8) translateX(100%);
    }
}

footer {
    background: #323039;
    color: #F2F2F2F2;
}

.author {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 30px;
}

.build {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

.github {
    position: fixed;
    right: -60px;
    top: 40px;
    transform: rotate(45deg);
    background: #24292f;
    font-size: 0.8rem;
    padding: 10px 50px;
}

.github:hover {
    cursor: pointer;
}

.github span {
    color: white;
}

.generated-link-counter {
    font-size: 0.8rem;
}

#top-link {
    padding: 10px;
}

.top-link-container {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-link-view {
    margin-left: 10px;
    min-width: 50px;
}

.icon-small {
    font-size: 16px;
}

.section-title {
    font-weight: bold;
    font-size: 24px;
}

.arrow-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }

.arrow-container:hover {
    cursor: pointer;
}
  
  .arrow-1{
    width: 100px;
    height: 100px;
    background: #00BCD4;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
  }
  
  .arrow-2{
    width: 60px;
    height: 60px;
    background: #a3dbff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
  }
  
  .arrow-2:before{
    width: 52px;
    height: 52px;
    content: "";
    border: 2px solid #ccebff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  
  .arrow-2 i.fa{
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #006064;
  }
  
  /* Custom Animate.css */
  
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }